html{
  font-size: 62.5%;
}

body{
  font-family: 'Roboto', 'san-serif';
  list-style:none;
  line-height: 1;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  line-height: 1;
}


img{
  vertical-align: bottom;
}

